.Toolbar {
  background-color: #703809;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: 56px;
}

.Toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  /*to show navigation items in tool bar only in desktpView*/
  .DesktopOnly {
    display: none;
  }
}

/* creating hamburger icon using styles */
@media (min-width: 500px) {
  .hamburgerCont {
    display: none;
  }
  .hamburgerCont div {
    display: none;
  }
}

.hamburgerCont {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.hamburgerCont div {
  width: 90%;
  height: 3px;
  background-color: white;
}
